<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    {#    para criar --->  n-block     #}
    {% block title %}
        {#Caso entrar e não tiver title este é o padrão#}
        <title>Ecoleta</title>
    {% endblock title %}
    
    <!--Fontes vindas do fonts.google.com -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">

    {#Cria um bloco onde tudo que estiver dentro do mesmo bloco na página é substituido aqui(ver index)#}
    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="styles/responsive.css">


</head>

<body>

    <div id={{ pageId }}>
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}


    {% block scripts %}
    {% endblock scripts %}

</body>

</html>