/*Regras para quando a tela for menor*/
@media (max-width: 900px){
    .items-grid{
        /*Deixa os elementos dividido em 3 colunas*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;/*Espaçamento dos items do grid*/
    }
}

@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;
        /*Faz o botão de cadastro se alinhar no centro*/
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;

    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    #page-search-results .cards img{
        height: 250px;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin-left: 0 ;
    }


}

@media(min-width: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media(max-height:760px){
    #page-home{
        background-position-y: 200px;
    }
}